<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link>
    <span th:text="${msg}"></span>
    <span th:text="${session.msg2}"></span>
    <span th:text="${#dates.format(session.date,'yyyy-MM-dd')}"></span>

    <table>
        <tr>
            <td>用户昵称</td>
            <td>用户角色</td>
            <td>用户性别</td>
            <td>用户生日</td>
        </tr>
        <tr th:each="user : ${list}">
            <td th:text="${user.userName}"></td>
            <td th:switch="${user.userRole}">
               <p th:case="2">管理员</p>
               <p th:case="3">普通员工</p>
<!--                *=else-->
               <p th:case="*">user is someone else</p>
            </td>
            <!--<td th:text="${user.userRole}"></td>-->
            <td th:text="(${user.gender}==1)?'男':'女'"></td>
            <!--<td th:if="${user.gender==1}" th:text="男" ></td>-->
            <!--<td th:switch="${user.gender}">
                <p th:case="1">user is a man</p>
                <p th:case="2">user is a woman</p>
                <p th:case="*">user is someone else</p>
            </td>-->

            <td th:text="${userStat.index}"></td>
            <td th:text="${userStat.count}"></td>
            <td th:text="${userStat.size}"></td>
            <td th:text="${user.birthday}"></td>
        </tr>
    </table>
    <div th:if="${list.size()>0}" th:text="${msg}"></div>
    <div th:if="${list.size()<0}" th:text="${session.msg2}"></div>
    <a th:href="@{/user/list(current=${msg})}">gogo</a>
    <a th:href="@{/user/addhtml}">gogo</a>
    <script th:src="@{jquery-1.10.2.min.js}" type="text/javascript"></script>
    <link th:src="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <div th:object="${session.u}">
        <p>Name:<span th:text="*{userName}"></span></p>
        <p>Name:<span th:text="${session.u.userName}"></span></p>
        <!--<p>Name:<span th:text="${#object.getUserName()}"></span></p>-->
    </div>
    <div th:replace="common_footer :: copy">    </div>
    <div th:insert="common_footer :: copy">    </div>
<!--下拉框显示及传参-->
        <form th:href="@{/user/list(sRole=sRole)}">
        <select name="role">
            <option selected="selected" th:text="请选择"></option>
            <div th:each="us:${roleList}">
            <option name="sRole" th:text="${us.roleName}"> </option>
            </div>
        </select>
            <input type="submit" value="提交">
        </form>

<a href="add.html">asd</a>
</body>

</html>